<div class="wrapper">
  <h3>Verfügbare Produkte</h3>

  <table class="table">
    <thead>
    <tr>
      <th>Name</th>
      <th>Preis</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let product of productService.products">
      <td>{{product.name}}</td>
      <td>{{product.price}} €</td>
    </tr>
    </tbody>
  </table>

  <button (click)="addProduct()" *ngIf="!showAddProductDialog" class="btn btn-primary"
          id="btnAddProduct">Produkt hinzufügen
  </button>

  <app-add-product (showAddProductDialog)="cancel()" *ngIf="showAddProductDialog"></app-add-product>
</div>
