<div class="wrapper">
  <h3>Verfügbare Produkte</h3>

  <table class="table">
    <thead>
    <tr>
      <th>Name</th>
      <th>Preis</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let product of productService.products">
      <td>{{product.name}}</td>
      <td>{{product.price}} €</td>
    </tr>
    </tbody>
  </table>

  <button *ngIf="!showAddProductDialog" id="btnAddProduct" class="btn btn-primary"
          (click)="addProduct()">Produkt hinzufügen
  </button>

  <app-add-product *ngIf="showAddProductDialog" (showAddProductDialog)="cancel()"></app-add-product>
</div>
