<div>

  <h3>Budget (in EUR)</h3>
  <input [(ngModel)]="budget">

  <h3>Verfügbare Produkte</h3>

  <table class="table">
    <thead>
    <tr>
      <th>Name</th>
      <th>Preis</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let product of products">
      <td>{{product.name}}</td>
      <td>{{product.price}} €</td>
    </tr>
    </tbody>
  </table>


  <h3>Einkaufsliste</h3>

  <table class="table">
    <thead>
    <tr>
      <th>Name</th>
      <th>Menge</th>
      <th>Gesamtpreis</th>
      <th>Aktion</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let product of products">
      <td>{{product.name}}</td>
      <td>{{product.price}} €</td>
    </tr>
    </tbody>
  </table>
</div>
